<!DOCTYPE html>
<html>
    <head>
        <title>Cadastro de um produto</title>
    </head>
    <body>
        

        <h1>Cadastro</h1>
        <form action="/produtos/cadastro/efetivar" method="post">
       <a>Nome: </a></br>
       <input type="text" name="nome"> </br>
       <a>Preco: </a></br>
       <input type="text" name="preco"> </br>
       <input type="submit" value="Cadastrar"> </br>
        </form>
        
    </body>
</html>
